<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android"
	id="com.rjfun.cordova.sms"
	version="1.0.3">
      
    <name>SMS</name>
	<description>Plugin to operate SMS, send/list/intercept/delete/restore</description>
	<author>Liming Xie</author>
	<license>MIT</license>
	<keywords>rjfun,sms</keywords>

	<engines>
	    <engine name="cordova" version=">=3.0.0" />
	</engines>

    <js-module src="www/SMS.js" name="SMS">
        <clobbers target="window.SMS" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="SMS">
                <param name="android-package" value="com.rjfun.cordova.sms.SMSPlugin"/>
            </feature>
        </config-file>
        
        <config-file target="AndroidManifest.xml" parent="/*">
		    <uses-feature android:name="android.hardware.telephony" android:required="false" />
			<uses-permission android:name="android.permission.READ_PHONE_STATE"/>
		    <uses-permission android:name="android.permission.RECEIVE_SMS" />
		    <uses-permission android:name="android.permission.RECEIVE_WAP_PUSH" />
		    <uses-permission android:name="android.permission.RECEIVE_MMS" />
		    <uses-permission android:name="android.permission.READ_SMS" />
		    <uses-permission android:name="android.permission.WRITE_SMS" />
		    <uses-permission android:name="android.permission.SEND_SMS" />
          </config-file>
          
		<source-file src="src/android/cordova-sms.jar" target-dir="libs"/>
    </platform>

</plugin>
